In [19]:
import pandas as pd
import numpy as np
import pickle 
from sklearn import *

In [20]:
train_data = pd.read_csv('datasets/train_loans_data.csv')

In [21]:
test_data = pd.read_csv('datasets/test_loans_data.csv')
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,N
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,N
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,N
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban,N
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban,N
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban,N
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban,N
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural,N
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural,N

In [22]:
train_data.dropna(how="any", inplace=True)

In [23]:
train_data.describe

<bound method NDFrame.describe of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
5    LP001011    Male     Yes          2      Graduate           Yes
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
5               5417             4196.0       267.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
5               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[480 rows x 13 columns]>

In [24]:
test_data.dropna(how="any", inplace=True)

In [25]:
test_data.describe

<bound method NDFrame.describe of       Loan_ID Gender Married Dependents     Education Self_Employed  \
0    LP001015   Male     Yes          0      Graduate            No
1    LP001022   Male     Yes          1      Graduate            No
2    LP001031   Male     Yes          2      Graduate            No
4    LP001051   Male      No          0  Not Graduate            No
5    LP001054   Male     Yes          0  Not Graduate           Yes
..        ...    ...     ...        ...           ...           ...
361  LP002969   Male     Yes          1      Graduate            No
362  LP002971   Male     Yes         3+  Not Graduate           Yes
363  LP002975   Male     Yes          0      Graduate            No
365  LP002986   Male     Yes          0      Graduate            No
366  LP002989   Male      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5720                  0       110.0             360.0
1               3076               1500       126.0             360.0
2               5000               1800       208.0             360.0
4               3276                  0        78.0             360.0
5               2165               3422       152.0             360.0
..               ...                ...         ...               ...
361             2269               2167        99.0             360.0
362             4009               1777       113.0             360.0
363             4158                709       115.0             360.0
365             5000               2393       158.0             360.0
366             9200                  0        98.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           N
1               1.0         Urban           N
2               1.0         Urban           N
4               1.0         Urban           N
5               1.0         Urban           N
..              ...           ...         ...
361             1.0     Semiurban           N
362             1.0         Urban           N
363             1.0         Urban           N
365             1.0         Rural           N
366             1.0         Rural           N

[289 rows x 13 columns]>

In [26]:
loan_train_data=train_data.drop('Loan_ID', axis=1)
loan_test_data=test_data.drop('Loan_ID', axis=1)

In [27]:
X = loan_train_data.drop('Loan_Status',1)
y = loan_train_data.Loan_Status

In [28]:
X = pd.get_dummies(X)
train=pd.get_dummies(loan_train_data)
test=pd.get_dummies(loan_test_data)

In [29]:
test

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_N
0,5720,0,110.0,360.0,1.0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,1,1
1,3076,1500,126.0,360.0,1.0,0,1,0,1,0,...,0,0,1,0,1,0,0,0,1,1
2,5000,1800,208.0,360.0,1.0,0,1,0,1,0,...,1,0,1,0,1,0,0,0,1,1
4,3276,0,78.0,360.0,1.0,0,1,1,0,1,...,0,0,0,1,1,0,0,0,1,1
5,2165,3422,152.0,360.0,1.0,0,1,0,1,1,...,0,0,0,1,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2269,2167,99.0,360.0,1.0,0,1,0,1,0,...,0,0,1,0,1,0,0,1,0,1
362,4009,1777,113.0,360.0,1.0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,1
363,4158,709,115.0,360.0,1.0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,1,1
365,5000,2393,158.0,360.0,1.0,0,1,0,1,1,...,0,0,1,0,1,0,1,0,0,1
366,9200,0,98.0,180.0,1.0,0,1,1,0,1,...,0,0,1,0,0,1,1,0,0,1

In [30]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()
model.fit(x_train, y_train)
LogisticRegression()
pickle.dump(model,open("logistic_regression_model.sav","wb"))

/Users/jakeazus/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [32]:
pred_train = model.predict(x_test)
accuracy_score(y_test,pred_train)

0.7430555555555556

In [33]:
X = loan_train_data.drop('Loan_Status',1)
y = loan_train_data.Loan_Status

In [34]:
X = pd.get_dummies(X)
train=pd.get_dummies(loan_train_data)
test=pd.get_dummies(loan_test_data)

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [36]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train, y_train)
pickle.dump(clf,open("decision_tree_model.sav","wb"))
clf.score(x_test, y_test)

0.7333333333333333

In [37]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(x_train, y_train)
pickle.dump(rf,open("random_forest_model.sav","wb"))
rf.score(x_test, y_test)

0.7916666666666666